MainWindow{
     background-color : #252526;
     color : #D4D4D4;
}

Editor{
    background-color : #1E1E1E;
    color : #D4D4D4;
    font: 14px "monospace";
    border: none;
    padding-top : 5px;
}

uPyTerminal{
    background-color : #1E1E1E;
    font-weight : bold;
    font: 13px "monospace";
    color : #D4D4D4;
    border-top: none;
}

LineNumberArea{
    color : #9C9D9E;
    font-size: 13px;
}

QSplitter::handle {
    width : 0px;
}

QSplitter#mainSplitter::handle {
    width : 10px;
    border : 10px
}

QScrollBar{
    background : #252526;
}

QScrollBar::handle{
    background : #515151;
    border : 0px;
}

QScrollBar::add-line:vertical {
    background : #252526;
}

QScrollBar::sub-line:vertical {
    background : #252526;
}

QScrollBar::add-line:horizontal {
    background : #252526;
}

QScrollBar::sub-line:horizontal {
    background : #252526;
}

QTreeView {
    padding-left : 5px;
    show-decoration-selected: 1;
    color : #ffffff;
    border : none;
}

DirectoryViewer{
    background-color : #252526;
}

QTreeView::item{
    height : 25px;
}

QTreeWidget::item{
    height : 25px;
}

QTreeView::item:hover {
    background: #2A2D2E;
}

QTreeView::branch:hover {
    background: #2A2D2E;
}

QTreeView::item:selected {
    background: #37373D;
}

QTreeView::branch:selected{
    background: #37373D;
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/icons/icons/vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/icons/icons/branch-more.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/icons/icons/branch-end.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:/icons/icons/branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:/icons/icons/branch-open.png);
}

QTabWidget{
    border : none;
    border-color : #1E1E1E;
    background-color : #252526;
}

QTabBar::tab{
    color : #D4D4D4;
    background : #252526;
    border: none;
    padding : 10;
}

QTabBar::tab:selected{
    color : #D4D4D4;
    background : #1E1E1E;
    padding : 10;
}

QTabBar::close-button{ border: none; image: url(:/icons/icons/close.png);}
QTabBar::close-button:hover{ border: none; image: url(:/icons/icons/close_red.png);}

QToolBar{
    padding : 0px;
    background : #333333;
    border: none;
}

QToolButton {
    padding : 5px;
    background : #333333;
    width : 30;
    height : 30;
}

QStatusBar{
    background : #007ACC;
    color : #ffffff;
}

QStatusBar QLabel{
    color : #ffffff;
    padding-right : 5px
}

QLabel#WorkSpace{
    border : none;
    font-weight : bold;
    color : #D4D4D4;
    padding-top : 5px;
}

QTabWidget#BottomPanel QTabBar::tab{
    color : #D4D4D4;
    background : #252526;
    border: none;
    padding : 10;
}

QTabWidget#BottomPanel QTabBar::tab:selected{
    color : #D4D4D4;
    background : #1E1E1E;
    padding : 10;
}

upyFileExplorer{
    background-color : #1E1E1E;
    padding : 0px;
    border : none;
}

upyFileExplorer::item{
    height: 20px;
    color : #D4D4D4;
}

upyFileExplorer::item:hover {
    background: #2A2D2E;
}

upyFileExplorer::item:selected {
    background-color : #265F99;

}

QWidget#fileSys{
    border : none;
    background : #1E1E1E;
    padding : 0px;
}

QWidget#fileSysToolbar{
    border : none;
    background : #1E1E1E;
    padding : 0px;
}

QPushButton#fileSysToolRefresh{
    background : #1E1E1E;
    border : none;
    width : 50px;
    height : 50px;
}

QPushButton#fileSysToolRefresh:hover{
    background: #2A2D2E;
}

QPushButton#fileSysToolNewFolder{
    background : #1E1E1E;
    border : none;
    width : 50px;
    height : 50px;
}

QPushButton#fileSysToolNewFolder:hover{
    background: #2A2D2E;
}

QPushButton#fileSysToolDeleteFolder{
    background : #1E1E1E;
    border : none;
    width : 50px;
    height : 50px;
}

QPushButton#fileSysToolDeleteFolder:hover{
    background: #2A2D2E;
}

QWidget#bottomPanel{
    border : none;
    background : red;
    padding : 0px;
    margin : 0px;
}

QPushButton#fileSysSaveBtn{
    background : #1E1E1E;
    border : none;
    width : 40px;
    height : 25px;
    color : white;
    padding-bottom : 5px;
}

QPushButton#fileSysSaveBtn:hover{
    background: #2A2D2E;
}

QComboBox#portsCombobox{
/*    background : red;*/
    border : none;
    width : 25px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 15px;
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid;  just a single line
    border-top-right-radius: 3px;  same radius as the QComboBox
    border-bottom-right-radius: 3px;
}

QComboBox:on {  shift the text when the popup opens
    padding-top: 3px;
    padding-left: 4px;
}
